body{
    background-color: #168194;
}

.Link{
    text-align: center;
    font-weight: bold;
}

.Roman{
    list-style: upper-roman;
    font-size: 16px;
}

.Movies{
    font-size: 16px;
    text-decoration: underline;
    color: white;
}

h1{
    font-size: 64px;
    color: red;
}

.Square{
    list-style: square;
}

.White{
    font-size: 24px;
    font-style: italic;
    color: white;
}

.Bu{
    font-weight: bold;
    text-decoration: underline;
}

.Red{
    color: red;
}